
h1 {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

img {
    color: blue;
    
}

body {
    background: #5470cad8;
    font-family: "Quicksand", sans-serif;
}

nav {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

h2 {
    color: darkolivegreen;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

h3 {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

.game-area {
    background-color: #89c2e9d8;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.score-area, .control-area, .score-points {
    margin: 5px auto;
    width: 50%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
}

.control-area {
    text-align: center;
}

.score-points {
    text-align: center;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.btn {
    width: auto;
    height: auto;
    margin: auto;
    object-position: 40%;
    border-radius: 3px;
    border-color: blue;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: inline-block;
    color: blue;
}

.btn:hover {
    border-color: #89c2e9d8;
  }

.btn--gray::after{
    content: attr(data-type);
}

#score-points {
    text-align: center;
}
