
h1 {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

img {
    color: blue;
    
}

body {
    background: white;
    font-family: "Quicksand", sans-serif;
}

nav {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

h2 {
    color: darkolivegreen;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

h3 {
    color: blue;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding: 2px;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: auto;
    max-height: auto;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.score-area {
    margin: 5px auto;
    width: 50%;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.btn {
    width: auto;
    height: auto;
    margin: auto;
    object-position: 40%;
    border-radius: 3px;
    border-color: blue;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: inline-block;
    color: blue;
}

.btn--gray::after{
    content: attr(data-type);
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .score-area {
    text-align: center;
}
